@import url("../../main.css");

/* image parent conatiner only for demo user may use his own parent container */
.responsive-images-container{
    display: flex;
    max-width:10vw;
    max-height: 20vh;
}

/* responsive image */
.responsive-img{
    height: auto;
    object-fit: cover;
}

/* rounded image */
.rounded-img{
    border-radius: 50%;;
}

