@import url("../../main.css");
@import url('../../colors.css');
@import url('../../typography.css');


/* colors for unit borders */
:root {
    --blue-dark: #001219;
    --blue: #005f73;
    --blue-light: #3d9397;
    --green: #94d28d;
    --sand: #e9d8a6;
    --orange-light: #ee9800;
    --orange: #ca6702;
    --orange-dark: #bb3e03;
    --maroon: #ae2012;
    --maroon-dark: #9b2226;
    --offwhite: rgba(255, 255, 255, 0.8);
}

/* general web-page styles */
.collections {
    margin: 0 auto;
    padding: 0 var(--space-md);
}

.collections ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.collections h2 {
    font-size: calc(2.5 * var(--paragraph));;
}


/* styling the figure containers */
.collections figure{
    max-height: 400px;
    overflow: hidden;
    position: relative;
    border-width: 10px;
    border-style: solid;
    border-radius: calc(0.05 * var(--width-unit));
    margin: var(--space-xs) 0;
}

.collections figure img{
    max-width: 100%;
    margin-bottom: -4px;
    object-fit: cover;
}

.collections figcaption{
    position: absolute;
    bottom: 0;
    background-color: var(--offwhite);
    width: 100%;
    opacity: 0.7;
    font-size: var(--header1);
}

.collections figcaption a {
    display: block;
    padding: var(--space-xs);
    text-decoration: none;
    color: inherit;
    text-decoration: none;
}

/* declaring border for figure and hover for figcaption */
.color2 {
    border-color: var(--blue);
}
.color2 a:hover {
    color: var(--blue);
}
.color3 {
    border-color: var(--orange-light);
}
.color3 a:hover {
    color: var(--orange-light);
}

.color4 {
    border-color: var(--green);
}

.color4 a:hover{
    color: var(--green);
}

.color6 {
    border-color: var(--blue-light);
}
.color6 a:hover{
    color: var(--blue-light);
}
.color7 {
    border-color: var(--maroon);
}
.color7 a:hover {
    color: var(--maroon);
}

.color8 {
    border-color: var(--orange);
}
.color8 a:hover {
    color: var(--orange);
}

/* declaring different bowser styles to figures */
@media (min-width: 550px) {
    .collections ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .collections li {
        flex-basis: 49.5%;
    }
}

@media (min-width: 800px) {
    section h2 {
        margin-left: var(--space-md);
    }
    .collections li {
        flex-basis: 32.5%;
    }
}