@import url("../../main.css");
@import url('../../colors.css');
@import url('../../typography.css');

.nav{
  background-color: white;
  width: 15rem;
  height: 100vh;
  position: static;
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.filter-menu-toggle{
  display: none;
}

.nav .nav-list{
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  list-style: none;
}

.nav-item{
  width: 100%;
  margin: 0px 10px;
}

.toggle-close{
  display: none;
}

@media screen and (max-width:800px){
  .filter-menu-toggle{
    display: block;
    color: transparent;
  }
  .nav{
    position: fixed;
    width: auto;
    background: none;
    height: 5rem;
    bottom: 0;
  }
  .nav .nav-list{
    display: none;
    left: -200px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: left 0.3s ease;
  }

  .nav .nav-list:target{
    height: 50%;
    width: 100%;
    background-color: white;
    display: flex;
    position: fixed;
    left: 0;
    bottom:0;
    z-index: 999;
    box-shadow: var(--box-shadow-tertiary)
  }

  .nav .nav-list:target + .backdrop {
    position: fixed;
    display: block;  
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: rgba(78, 78, 78, 0.418);
    cursor: default;
  }

  .toggle-close{
    display: block;
    position: fixed;
    right: 5%;
    margin: auto;
    color: transparent;
  }
}

