@import url("../../main.css");

/* common styling for alert */
#alert-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#alert-container > div:hover{
    box-shadow: var(--box-shadow-secondary); 
}
.alert{
    display: flex;
    border-radius: var(--space-sm);
    min-width: 40vw;
    max-width: 600px;
    padding: var(--space-md);
    font-size: var(--paragraph);
    margin: var(--space-md);
    box-shadow: var(--box-shadow-primary);
}
span {
    margin-right: var(--space-md);
}

